.everything {
    grid-template-columns: auto 250px auto;
    grid-template-rows: 250px auto;
    grid-template-areas: 
        ". a ."
        ". b .";
}

#homepage-header {
    grid-area: a;
    background: blue;
}

main {
    grid-area: b;
    background-color: pink;
}