/* merriwheather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    display: grid;
    grid-template-columns: auto 750px auto;
    grid-template-rows: 75px auto;
    grid-template-areas: 
        ". top ."
        ". bottom .";
    font-family: open sans;
}

nav {
    grid-area: top;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a, #search {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

#not-logo {
    align-items: center;
}

nav a {
    border: 1px solid rgb(1, 1, 1, 0);
}

nav a:hover {
    border: 1px solid rgb(0,0,0,1);
    border-radius: 8px;
}

#location-info {
    grid-area: bottom;
    border: black 1px solid;
}

nav>div {
    display: inline-block;
}

#logo {
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(0,0,0,0)
}

#logo:hover {
    border: 1px solid rgb(0,0,0,1);
}

#store-card {
    border: 1px black solid;
}

#store-card:hover {
    border: 2px black solid;
}

section {
    padding: 10px;
}

li {
    padding-bottom: 5px;
}